$accentColor: #956134;
$accentFont: 'Arial Black', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$cyanColor: #25A4C2;
$yellow: #F0A612;
$red: #C40F1A;