@font-face {
  font-family: "fo";
  src: url(/assets/font/FjallaOne-Regular.ttf) format("truetype");
}
.sectionTop_backgroundImage {
  background-image: url(/assets/image/accsess_top-image.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .sectionTop_backgroundImage {
    height: 500px;
  }
}
.sectionTop_backgroundImage_filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
}
.sectionTop_backgroundImage_filter h2 {
  font-family: "fo";
  text-transform: uppercase;
  font-size: 10rem;
  color: #f6f8f9;
  font-weight: 400;
  padding-top: 50vh;
  text-align: left;
  padding-left: 15%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(2, 2);
  transition-delay: 0.5s;
  transition-property: transform, opacity;
}
@media screen and (max-width: 767px) {
  .sectionTop_backgroundImage_filter h2 {
    font-size: 4rem;
    position: absolute;
    padding: 0;
    top: 55%;
    left: 15%;
  }
}

.section-address {
  padding: 200px 140px 100px;
}
@media screen and (max-width: 767px) {
  .section-address {
    padding: 80px 24px 80px;
  }
}
.section-address h2 {
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 6rem;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-address h2 {
    font-size: 2.4rem;
  }
}
.section-address address {
  font-style: normal;
  font-size: 2.4rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-address address {
    font-size: 1.2rem;
  }
}
.section-address p {
  margin-bottom: 200px;
  font-size: 2.4rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-address p {
    margin: 0 auto 80px;
    display: inline-block;
    font-size: 1.2rem;
  }
}
.section-address .map {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
}
.section-address iframe {
  width: 100%;
  height: 570px;
  border: 2px solid #956134;
}
@media screen and (max-width: 767px) {
  .section-address iframe {
    aspect-ratio: 4/3;
    height: auto;
  }
}