@font-face {
  font-family: "fo";
  src: url(/assets/font/FjallaOne-Regular.ttf) format("truetype");
}
.buy-button {
  display: inline-block;
  font-size: 2rem;
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  text-transform: uppercase;
  color: #956134;
  position: relative;
  transition-property: transform !important;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 300%);
  transition: all 1s ease;
}
.buy-button::after {
  content: url(/assets/image/buy-button_arrow.svg);
  width: 65px;
  display: block;
  position: absolute;
  top: 10px;
}
.buy-button:hover {
  color: #25A4C2;
  opacity: 1;
}
.buy-button:hover::after {
  content: url(/assets/image/buy-button_arrow-cyan.svg);
}
@media screen and (max-width: 767px) {
  .buy-button {
    font-size: 1.6rem;
  }
  .buy-button::after {
    width: 50px;
  }
}

.backgroundLogo img {
  width: 100%;
}

.logo-area {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-color: #f6f8f9;
}
@media screen and (max-width: 767px) {
  .logo-area {
    height: 500px;
  }
}
.logo-area .section-top__logo {
  width: 50vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .logo-area .section-top__logo {
    width: 80vw;
  }
}
.logo-area .section-top__logo img {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(2, 2);
  transition-property: transform;
}

.section-top__image--1 {
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .section-top__image--1 {
    height: 100%;
  }
}
.section-top__image--1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.top-image__container {
  display: flex;
  justify-content: center;
}
.top-image__container div {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
}
.top-image__container div:last-child {
  transition-delay: 0.2s;
}
.top-image__container div img {
  width: 50vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}
@media screen and (max-width: 767px) {
  .top-image__container div img {
    height: 100%;
  }
}

.brand-concept__wrapper {
  padding: 0 140px;
}
@media screen and (max-width: 767px) {
  .brand-concept__wrapper {
    padding: 0 24px;
  }
}
.brand-concept__wrapper .brand-concept {
  font-family: "fo";
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #C40F1A;
  margin: 100px 0 50px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
.brand-concept__wrapper .brand-concept + p {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .brand-concept__wrapper .brand-concept {
    font-size: 3rem;
    margin: 80px 0 20px;
  }
  .brand-concept__wrapper .brand-concept + p br {
    display: none;
  }
}

.section-denim-standard {
  padding: 200px 140px;
}
@media screen and (max-width: 767px) {
  .section-denim-standard {
    padding: 80px 24px;
  }
}
.section-denim-standard .denim__image--1 {
  margin: 0 auto 200px;
  padding: 0 10vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(0.7, 0.7);
}
@media screen and (max-width: 767px) {
  .section-denim-standard .denim__image--1 {
    margin-bottom: 40px;
  }
}
.section-denim-standard .denim__image--1 img {
  width: 100%;
}
.section-denim-standard h2 {
  text-transform: uppercase;
  font-size: 7rem;
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.7;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-denim-standard h2 {
    font-size: 2.4rem;
  }
}
.section-denim-standard .denim__image--2 {
  margin: 200px auto 0;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(0.7, 0.7);
}
@media screen and (max-width: 767px) {
  .section-denim-standard .denim__image--2 {
    margin-top: 20px;
  }
}
.section-denim-standard .denim__image--2 img {
  width: 100%;
}
.section-denim-standard .denim__image--3 {
  margin: 200px auto;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(0.7, 0.7);
}
@media screen and (max-width: 767px) {
  .section-denim-standard .denim__image--3 {
    margin: 40px auto;
  }
}
.section-denim-standard .denim__image--3 img {
  width: 85%;
}
.section-denim-standard .denim-description {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
.section-denim-standard .denim-description br {
  display: none;
}
.section-denim-standard a {
  margin: 50px 0 200px 50%;
}
@media screen and (max-width: 767px) {
  .section-denim-standard a {
    margin: 20px 0 40px 50%;
  }
}
.section-denim-standard .denim__flex-container {
  display: flex;
  justify-content: center;
}
.section-denim-standard .denim__flex-container li {
  margin: 0 3vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
.section-denim-standard .denim__flex-container li:nth-child(2) {
  transition-delay: 350ms;
}
.section-denim-standard .denim__flex-container li:last-child {
  transition-delay: 700ms;
}
.section-denim-standard .denim__flex-container li img {
  width: 22vw;
  height: 28vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-aging {
  padding: 0 140px 250px;
}
@media screen and (max-width: 767px) {
  .section-aging {
    padding: 0 24px 80px;
  }
  .section-aging p {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 30px;
  }
}
.section-aging h2 {
  font-family: "fo";
  font-size: 10rem;
  text-transform: uppercase;
  color: #F0A612;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-aging h2 {
    font-size: 3rem;
  }
}
.section-aging p {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
.section-aging .photo-area {
  width: 100%;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .section-aging .photo-area {
    margin-top: 20px;
  }
}
.section-aging .photo-area div {
  width: 28vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%, 0);
  transition: all 1s ease;
}
.section-aging .photo-area div img {
  width: 100%;
}
.section-aging .photo-area div:first-child {
  margin: 0 auto 0 10%;
}
.section-aging .photo-area div:nth-child(2) {
  margin: -15% 10% 0 auto;
  transform: translateX(100%);
}
.section-aging .photo-area div:last-child {
  margin: -15% auto 0 10%;
}

.section-denim-black {
  padding: 0 140px 300px;
}
@media screen and (max-width: 767px) {
  .section-denim-black {
    padding: 0 24px 80px;
  }
}
.section-denim-black h2 {
  text-transform: uppercase;
  font-size: 7rem;
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.7;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-denim-black h2 {
    font-size: 3rem;
  }
}
.section-denim-black .denim-black__image--1 {
  margin: 200px auto 0;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(0.7, 0.7);
}
@media screen and (max-width: 767px) {
  .section-denim-black .denim-black__image--1 {
    margin-top: 20px;
  }
}
.section-denim-black .denim-black__image--1 img {
  width: 100%;
}
.section-denim-black .denim-black__image--2 {
  margin: 200px auto 0;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(0.7, 0.7);
}
@media screen and (max-width: 767px) {
  .section-denim-black .denim-black__image--2 {
    margin-top: 40px;
  }
}
.section-denim-black .denim-black__image--2 img {
  width: 100%;
}
.section-denim-black a {
  margin: 0 0 0 50%;
}

.section-coverall {
  padding: 0 140px 200px;
}
@media screen and (max-width: 767px) {
  .section-coverall {
    padding: 0 24px 80px;
  }
}
.section-coverall .title-image__flex-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-coverall .title-image__flex-container {
    margin-bottom: 40px;
  }
}
.section-coverall .title-image__flex-container + p {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
.section-coverall .title-image__flex-container div {
  width: 50%;
  height: 62%;
}
.section-coverall .title-image__flex-container div img {
  width: 100%;
}
.section-coverall .title-image__flex-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6f8f9;
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 70px;
  font-size: 4.8611111111vw;
  text-transform: uppercase;
  width: 100%;
}
.section-coverall a {
  margin: 50px 0 0 50%;
}
@media screen and (max-width: 767px) {
  .section-coverall a {
    margin-top: 20px;
  }
}
.section-coverall .detail-image__flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .section-coverall .detail-image__flex-container {
    margin-top: 40px;
    margin-bottom: 0;
  }
}
.section-coverall .detail-image__flex-container div {
  width: 45%;
  margin-bottom: 10%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 0);
  transition: all 1s ease;
}
.section-coverall .detail-image__flex-container div img {
  width: 100%;
}
.section-coverall .detail-image__flex-container div:nth-child(even) {
  opacity: 0;
  visibility: hidden;
  transform: translate(50%, 0);
  transition: all 1s ease;
  transition-delay: 0.2s;
}
@media screen and (max-width: 767px) {
  .section-coverall .detail-image__flex-container div:nth-child(3), .section-coverall .detail-image__flex-container div:last-child {
    margin-bottom: 0;
  }
}
.section-coverall .detail-title {
  font-family: "fo";
  font-size: 10rem;
  text-transform: uppercase;
  color: #F0A612;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-coverall .detail-title {
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
.section-coverall .coverall-detail {
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-coverall .coverall-detail {
    margin-bottom: 20px;
  }
  .section-coverall .coverall-detail br {
    display: none;
  }
}
.section-coverall .swiper {
  padding: 200px 140px 0;
}
@media screen and (max-width: 767px) {
  .section-coverall .swiper {
    padding: 80px 24px 0;
  }
}
.section-coverall .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.section-coverall .swiper .swiper-slide {
  height: 20vw !important;
  width: auto !important;
  margin: 0 1.4vw;
}
.section-coverall .swiper .swiper-slide img {
  height: 100%;
}

.section-factory {
  padding: 0 140px 200px;
}
@media screen and (max-width: 767px) {
  .section-factory {
    padding: 0 24px 60px;
  }
}
.section-factory__background-image {
  background-image: url(/assets/image/factory01.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 42vw;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
}
.section-factory__background-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6f8f9;
  font-family: "fo";
  font-size: 100px;
  font-size: 6.9444444444vw;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
}
.section-factory .factory-image--1 {
  margin: 200px auto 0;
  width: 70%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(0.7, 0.7);
}
@media screen and (max-width: 767px) {
  .section-factory .factory-image--1 {
    margin-top: 60px;
  }
}
.section-factory .factory-flex-area {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 150px 0 100px;
}
@media screen and (max-width: 767px) {
  .section-factory .factory-flex-area {
    margin: 40px 0;
  }
}
.section-factory .factory-flex-area .factory-image--2 {
  width: 45%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%, 0);
  transition: all 1s ease;
}
.section-factory .factory-flex-area .factory-image--3 {
  width: 45%;
  opacity: 0;
  visibility: hidden;
  transform: translate(100%, 0);
  transition: all 1s ease;
  transition-delay: 0.2s;
}
.section-factory img {
  width: 100%;
}
.section-factory .factory-image-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 150px 0 100px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .section-factory .factory-image-area {
    margin: 80px 0 40px;
  }
}
.section-factory .factory-image-area .factory-image--4 {
  width: 35vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%, 0);
  transition: all 1s ease;
}
.section-factory .factory-image-area .factory-image--5 {
  width: 35vw;
  margin-bottom: 18vw;
  margin-left: -10vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(100%, 0);
  transition: all 1s ease;
  z-index: 2;
}
.section-factory p {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-factory p br {
    display: none;
  }
}