@font-face {
  font-family: "fo";
  src: url(/assets/font/FjallaOne-Regular.ttf) format("truetype");
}
.buy-button {
  display: inline-block;
  font-size: 2rem;
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  text-transform: uppercase;
  color: #956134;
  position: relative;
  transition-property: transform !important;
  margin: 20px 0 0 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 300%);
  transition: all 1s ease;
}
.buy-button::after {
  content: url(/assets/image/buy-button_arrow.svg);
  width: 65px;
  display: block;
  position: absolute;
  top: 10px;
}
.buy-button:hover {
  color: #25A4C2;
  opacity: 1;
}
.buy-button:hover::after {
  content: url(/assets/image/buy-button_arrow-cyan.svg);
}
@media screen and (max-width: 767px) {
  .buy-button {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  .buy-button::after {
    width: 50px;
  }
}

.backgroundLogo img {
  width: 80%;
}

.logo-area {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-color: #f6f8f9;
}
@media screen and (max-width: 767px) {
  .logo-area {
    height: 500px;
  }
}
.logo-area .section-top__logo {
  width: 50vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .logo-area .section-top__logo {
    width: 80vw;
  }
}
.logo-area .section-top__logo img {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0);
  transition: all 1s ease;
  transform: scale(2, 2);
  transition-property: transform;
}

.section-top__image {
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .section-top__image {
    height: 100%;
  }
}
.section-top__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 50%;
     object-position: 20% 50%;
}

.section-item {
  padding: 200px 140px 200px;
}
@media screen and (max-width: 767px) {
  .section-item {
    padding: 80px 24px 60px;
  }
}
.section-item li {
  margin-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .section-item li {
    margin-bottom: 80px;
  }
}
.section-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-item .section-choppers--1__image--1 {
  margin: 0 auto 100px;
  width: 28vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-item .section-choppers--1__image--1 {
    margin-bottom: 40px;
  }
}
.section-item .image-container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .section-item .image-container {
    justify-content: center;
  }
}
.section-item .image-container div {
  width: 28vw;
  height: 35vw;
}
.section-item .image-container div:first-child {
  margin-right: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%, 0);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-item .image-container div:first-child {
    margin-right: 4vw;
  }
}
.section-item .image-container div:last-child {
  margin-left: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translate(100%, 0);
  transition: all 1s ease;
  transition-delay: 0.2s;
}
@media screen and (max-width: 767px) {
  .section-item .image-container div:last-child {
    margin-left: 4vw;
  }
}
@media screen and (max-width: 767px) {
  .section-item .item-description-container {
    max-width: 478px;
    margin: 0 auto;
  }
}
.section-item h2 {
  margin: 100px 0 50px;
  font-size: 2.4rem;
  font-family: "Arial Black", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-item h2 {
    font-size: 1.6rem;
    margin: 40px 0 20px;
  }
}
.section-item p {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-item p br {
    display: none;
  }
}
.section-item .section-wallet {
  margin-bottom: 0;
}
.section-item .section-wallet .section-wallet__image--1 {
  margin: 0 auto 100px;
  width: 35vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: all 1s ease;
}
@media screen and (max-width: 767px) {
  .section-item .section-wallet .section-wallet__image--1 {
    margin-bottom: 40px;
  }
}
.section-item .section-wallet .image-container div {
  width: 35vw;
  height: auto;
}
.section-item .section-wallet p {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .section-item .section-wallet p {
    margin-bottom: 10px;
  }
}

.section-swiper {
  padding-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .section-swiper {
    padding-bottom: 60px;
  }
}
.section-swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.section-swiper .swiper-wrapper .swiper-slide {
  height: 25vw;
  width: auto;
  margin: 0 1.4vw;
}
.section-swiper .swiper-wrapper .swiper-slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}